<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/622ef7e060.js" crossorigin="anonymous"></script>
    <script src="./three/build/three.min.js"></script>
    <script src="./three/examples/js/controls/OrbitControls.js"></script>
    <script src="./scripts/model.js" type="module"></script>
    <link rel="stylesheet" href="./stylesheets/styleapp.css">
    <title>04 - Webpack</title>
</head>
<body>
<script>




</script>
<div id="info"><img id="imagencierre" onclick="botonInfoDesvanecer()" src="./img/cerrar.png" alt="imagen_cierre"></div>

<div id="menu">
    <div class="boton" onclick="botonMenuDesvanecer()">
        <div id="logo"><img src="./img/logo.png" alt="a" width="170px" height="30px"></div>
        <div id="nav_menu_login" class="button"><i class="fa-solid fa-arrow-right-to-bracket"></i></i></div>
    </div>
</div>
<div id="camera_reset" class="button"><i class="fa-solid fa-arrows-rotate"></i></div>
<div id="inicio" class="button"><i class="fa-solid fa-play"></i></div>
<div id="pausa" class="button"><i class="fa-solid fa-pause"></i></div>
<div id="info_controles" class="button"><i class="fa-solid fa-circle-question"></i></div>

</body>
</html>